[Desktop Entry]
Name=Pointblank
Comment=X11 Infinite Tiling Window Manager
Exec=dbus-run-session /usr/bin/pointblank
Type=Application
DesktopNames=Pointblank
Categories=WindowManager;
X-LightDM-DesktopName=Pointblank
